@import '~bootstrap/dist/css/bootstrap.css';
.card {
    border: 1;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color :white;
    width: 300px;
    height: 1000;
    margin-left: 150px;
    margin-bottom: auto;
    margin-right: 70px;
    
  }
h3{
    text-align:center;
}
.strike{
   color: #D3D3D3		;
   list-style-image: url('../cross.png')
  
}
.not-strike
{
    text-decoration: ivory;
    list-style-image: url('../tick.png')
}

.h1
{
    text-align:center;

    text-decoration-color: ivory;
}
.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  .hide
  {
      display: none;
     
      
  }

  .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .card:hover .btn {
    opacity: 1;
  }

  h5
  {
      
      text-align:center;
      color: gray;
    }
  ul#features li.tick{
    list-style-image: url('https://static.thenounproject.com/png/190430-200.png')
  }