<div class="container-fluid">
<div class="row">
  <div  *ngFor ="let card of cards"  class="col-lg-3">
    <app-card title= {{card.title}} users={{card.users}} price={{card.price}} storage = {{card.price}}
  
    publicProjects={{card.publicProjects}} communityAccess={{card.communityAccess}} privateProjects = {{card.privateProjects}}
    phoneSupport = {{card.phoneSupport}} freeSubDomains={{card.freeSubDomains}} monthlyStatus = {{card.monthlyStatus}} ud={{card.ud}}
    >
    
    </app-card>
  </div>
 
  </div>
  </div>


